
<h1>Store</h1>
<form action="/checkout" method="post">
    <p><label for "item"> Item for purchase: </label>
    <input id= "item" type="text" name="item"></input></p>
    <input id= "submit" type="submit">

</form> 